* {
  padding: 0%;
  margin: 0%;
  text-align: center;
  margin-top: 25px;
  background-color: rgb(242, 243, 244);
}
input {
  padding: 15px;
  margin: 10px;
  font-size: large;
  font-weight: bold;
  border: 2px solid silver;
  border-radius: 8px;
}
#btn input:hover {
  background-color: rgb(7, 161, 7);
  color: white;
  border: none;
  transform: scale(1.2);
}
#btn {
  display: flex;
  justify-content: center;
}
.all-operator {
  display: flex;
  flex-direction: column;
  height: 20px;
}
.number {
  display: grid;
  grid-template-columns: auto auto auto;
}
#calculator {
  border: 2px solid silver;
  padding: 10px;
  display: inline-block;
  background-color: white;
}
